{% extends 'client/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Pipeline - {{ pipeline.title }}</title>
{% endblock %}

        {% block main_area %}
      <!-- Post Content Column -->
      <div class="col-lg-12" style="background-color: white; border: 1px solid #ededed; padding: 10px;">
        <h1>Pipeline Info</h1>
        {% if user.is_authenticated and user == pipeline.author %}
            <a href = "update_pipeline">Update Pipeline</a>
        {% endif %}

        <!-- Title -->
        <h3 class="mt-4">{{ pipeline.title }}</h3>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ pipeline.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ pipeline.created_at }}</p>

          {% if pipeline.head_image %}
            <hr>
                  <!-- Preview Image -->
              <img class="img-fluid rounded" src="{{ pipeline.head_image.url }}" alt="">

          {% endif %}

        <hr>

        <!-- Post Content -->
        <p>{{ pipeline.get_markdown_description | safe }}</p>

        {% if pipeline.attached_file %}
            <a href="{{ pipeline.attached_file.url }}" type="button" class="btn btn-outline-dark" download>첨부 파일 다운로드</a>
            {{ pipeline.get_file_name }}

        {% endif %}
        <hr>
                        {% if pipeline.tags.exists %}
                            <br />
                            <i class = "fas fa-tags"></i>
                            {% for tag in pipeline.tags.iterator %}
                                <a href = {{ tag.get_absolute_url }}> {{ tag }}</a>
                            {% endfor %}

                            <br />    <br />{% endif %}
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="post" action="{{ pipeline.get_absolute_url }}addcomment/">
                {% csrf_token %}
               {{ comment_form | crispy }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
      {% if pipeline.comment_set.exists %}
        {% for comment in pipeline.comment_set.iterator %}
        <div class="media mb-4">
{#          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
          <div class="media-body" id = "comment-{{ comment.pk }}">
            <h5 class="mt-0">{{ comment.author }} ({{ comment.created_at }})</h5>
              <p>{{ comment.content }}</p>
          </div>
        </div>
        {% endfor %}
      {% endif %}

      </div>

    <div style="background-color: white; border: 1px solid #ededed; padding: 10px; margin-top: 15px;">
        <h1>Stage Info</h1>
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <form method="post" action="{{ pipeline.get_absolute_url }}add-stage/">
                   {% csrf_token %}
                  {{ stage_form | crispy }}
                  <button type="submit" class="btn btn-primary">Add Stage</button>
                </form>
<!--                <a href = "pipelines/create_pipeline" role="button"> Create Stage</a>-->
            {% endif %}
         {% endif %}
    </div>

    <div style="background-color: white; border: 1px solid #ededed; padding: 10px; margin-top: 4px;">
         {% for stage in stages %}
            <a href="{{ stage.get_absolute_url }}" style="color:black; margin: 10px;">
                <div class="card" style="background-color: white; margin-top: 10px">
                    <div class="card-body">
                        <h3 class="card-title">[Stage] {{ stage.title}} </h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {% endblock %}


